beautifulsoup4
certifi
dice-ml
eli5
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
langgraph
huggingface-hub
matplotlib
numpy
pandas
scikit-learn
seaborn
shap
tiktoken
torch
urllib3
plotly
nbformat
mlflow